*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height:100px;
    background: #232f3e;
}
.d_header_top{
    height: 60px;
    background:#131921;
}

.d_main{
    height: 5000px;
    background: #e3e6e6;
}
.d_main_top{
    height:612px;
    border:orange 1px solid;
}
.btn_icon{
    height: 250px;
}

.d_main_bottom{
    width:98%;
    height:4747px;
    top:252px;
    left:14px;
    background:#ffffff;
}
.main_d_bottom{
    height:420px;
    margin:0px;
}

.main_com_margin{
    margin-top:20px;
}

.d_main_bottom_1>div{
    border:1px solid red;
    padding:0;
}

.d_main_bottom_2>div{
    border: green 1px solid;
    padding:0;
}

.d_main_bottom_3>div{
    border: 1px solid yellow;
    padding: 0;
}
.d_main_bottom_4{
    height:342px;
    border: 1px solid red;
}


footer{
    height:200px;
    background:#131a22;
}