*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height:100px;
    background: #232f3e;
}
.d_header_top{
    height: 60px;
    background:#131921;
    z-index: 1000;
}

.d_header_top>button{
    color:white;
    margin-left: 7px;
}

.d_header_top>button:hover{
    border:1px solid #fff;
    color:white;
}

.d_header_bottom a:hover{
    border: 1px solid #fff;
}

.d_header_bottom a:active,.d_header_bottom a:focus{
    color:gray !important;
}

.d_header_bottom a{
    font-size: 14px;
    font-weight: 500;
    padding: 8px 11px;
}

.header_modal{
    width:24% !important;
    height: 772px;
    transition: all 0.2s linear 0.2s;
    left:-368px;
}

.show{
    left:0px;
}

.mhclr{
    background: #232f3e;
}

.mhhover li a:hover {
    background: #e3e6e6;
}


.d_main{
    height: 5899px;
    background: #e3e6e6;
}
.d_main_top{
    height:612px;
    border:orange 1px solid;
}
.btn_icon{
    height: 250px;
}

.d_main_bottom{
    width:98%;
    height:5435px;
    top:252px;
    left:14px;
    /* background:#ffffff; */
}
.main_d_bottom{
    height:420px;
    margin:0px;
}

.main_com_margin{
    margin-top:20px;
}

.d_main_bottom_1>div{
   border: 1px solid red;
   background:#ffffff;
    padding:0;
    margin-right: 0;
}

.d_main_bottom_2>div{
    border: 1px solid red;
    background: #ffffff;
    padding:0;
}

.d_main_bottom_3>div{
    border: 1px solid yellow;
    background: #ffffff;
    padding: 0;
}
.d_main_bottom_4{
    height:366px;
    background: #ffffff;
    border: 1px solid red;
}
.img_Cont{
    height:306px;
    border: 1px solid green;
}

.img_Cont>div{
    border: 1px solid yellow;
}

.button_next_prev{
    background:#e0dede;
    width:4%;
    height:6em;
    top:105px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: #000;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #000;
}

.cmn_button_link{
    text-decoration: none;
    /*margin-bottom:5px;
    margin-top: 17px;
    margin-left:20px;
    */
    margin:17px 0px 5px 18px;
}

.cmn_button_link:hover{
    text-decoration:underline;
    color:red;
}

.d_main_com_5_6{
    height:286px;
    margin-top: 20px;
}
.img_Cont2{
    height:230px;
    border: 1px solid red;
}

.d_main_bottom_5{
    border:1px solid blue;
    background: #ffffff;
}

.d_main_bottom_6{
    border:1px solid pink;
    background: #ffffff;
}

.d_main_bottom_7{
    border: 1px solid black;
    background: #ffffff;
}
.d_main_bottom_8{
    border: 1px solid peru;
    background: #ffffff;
}
.d_main_bottom_9{
    border: 1px solid gold;
    background: #ffffff;
}
.d_main_bottom_10{
    height: 250px;
    background: #ffffff;
    border: 1px solid gold;
}

.d_main_bottom_11{
    border: 1px dashed greenyellow;
    background: #ffffff;
}
.d_main_bottom_12{
    border: 1px dashed blueviolet;
    background: #ffffff;
}

.d_main_bottom_13{
    height:328px;
    border:1px solid firebrick;
    background: #ffffff;
}
.d_main_bottom_14{
    border:1px solid hotpink;
    background: #ffffff;
}
.d_main_bottom_15{
    border: 1px solid rebeccapurple;
    background: #ffffff;
}
.d_main_btm{
    height: 190px !important;
    background: whitesmoke;
    margin-top:20px;
    margin-left: 0;
    border: 1px solid red;
}

footer{
    height:200px;
    background:#131a22;
}